body {
  margin: 0 auto;
  font-family: "Raleway", "sans-serif";

  max-width: 1440px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*--------------HEADER----------------*/

nav {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . slide signup";
  align-items: center;
  font-size: 1rem;
}

.logo {
  grid-area: logo;
  padding-left: 1.5rem;
}

.slide {
  display: flex;
  text-align: center;
  grid-area: slide;
}

.hostbtn {
  padding: 2rem;
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.activity {
  padding: 2rem 2rem;
  border-top: transparent 3px solid;
  text-align: center;
}

.activity:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.signup {
  grid-area: signup;
  font-weight: bold;
  color: #0065fc;
  padding: 2rem;
}
.searchtitle h1 {
  font-size: 1.2rem;
}
.searchtitle p {
  font-size: 0.85rem;
}

@media (max-width: 800px) {
  nav {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . signup" "slide slide slide";
  }

  .signup {
    order: 1;
  }
  .slide {
    order: 2;
  }
  .activity,
  .hostbtn {
    border-top: none;
    border-bottom: 3px solid #eeeeee;
    flex-basis: 50%;
    align-items: center;
    transition-duration: 0.2s;
  }
  .hostbtn {
    border-bottom-color: #0065fc;
  }
  .activity:hover {
    border-bottom-color: #0065fc;
    border-top: none;
  }
}

/*-------------SEARCHBOX-----------*/

.searcharea {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.searchboxzone {
  
}

form {
  border-top: none;
  border-bottom: none;
  display: flex;
  margin: 2rem 0;
}

.mapsicon {
  padding: 0.85rem 1rem;
  background-color: #eeeeee;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}

input {
  border-top: #eeeeee solid 2px;
  border-bottom: #eeeeee solid 2px;
  border-left: none;
  border-right: none;
  padding: 0.45rem;
  flex-basis: 70%;
  max-width: 15rem;
}

input::placeholder {
  color: black;
  font-weight: bold;
  font: "raleway", "sans serif";
}

button {
  padding: 0.45rem 0.9rem;
  border: none;
  background-color: #0065fc;
  font-family: "raleway";
  border-radius: 0rem 1rem 1rem 0rem;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
}

.searchFormSubmitinputIcon {
  display: none;
}
@media (max-width: 800px) {
  button span {
    display: none;
  }
  .searchFormSubmitinputIcon {
    display: initial;
    padding: 0 0.2rem;
  }

  
}

/*------------FILTERS-------------*/

/*------------FILTERS-------------*/

.filters {
  margin: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filter:hover {
  transform: scale(1.02);
  cursor: pointer;
}
.filtername:hover {
  background-color: #0065fc;
  color: white;
}

.filter {
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
  transition-duration: 0.2s;
}

.filtericons {
  background-color: #deebff;
  border-radius: 100%;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  position: absolute;
}

.filtertitle {
  align-items: center;
  margin-right: 1rem;
}

.eco {
  padding: 1rem 1rem 1rem 4rem;
  border-top: #eeeeee solid 3px;
  border-bottom: #eeeeee solid 3px;
  border-left: none;
  border-right: #eeeeee solid 3px;
  border-radius: 2rem 2rem 2rem 2rem;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: right;
}

.fam {
  padding: 1rem 1rem 1rem 4rem;
  border-top: #eeeeee solid 3px;
  border-bottom: #eeeeee solid 3px;
  border-left: none;
  border-right: #eeeeee solid 3px;
  border-radius: 2rem 2rem 2rem 2rem;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: right;
}

.rom {
  padding: 1rem 1rem 1rem 4rem;
  border-top: #eeeeee solid 3px;
  border-bottom: #eeeeee solid 3px;
  border-left: none;
  border-right: #eeeeee solid 3px;
  border-radius: 2rem 2rem 2rem 2rem;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: right;
}

.ani {
  padding: 1rem 1rem 1rem 4rem;
  border-top: #eeeeee solid 3px;
  border-bottom: #eeeeee solid 3px;
  border-left: none;
  border-right: #eeeeee solid 3px;
  border-radius: 2rem 2rem 2rem 2rem;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: right;
  width: max-content;
}

.result {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  border-color: #eeeeee 8px solid;
  margin: 1rem;
}

.infologo {
  margin-right: 0.5rem;
  padding: 0.3rem;
  color: #0065fc;
  border: 2px solid #eeeeee;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  font-size: 0.5rem;
  width: 0.5rem;
  height: 00.5rem;
}

@media (max-width: 800px) {
  .filtertitle {
    flex-basis: 100%;
  }
}

/*-------------------MAIN SECTION--------------------*/

.main {
  display: flex;
}

/*--------POPULAR SECTION-------*/

.popular {
  margin: 1rem;
  order: 1;
  flex-basis: 30%;
  border-radius: 1rem;
  background-color: #eeeeee;
}

.popcardarea {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.popcard {
  padding: 0.3rem;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  height: 20rem;
  min-width: 15rem;
  margin-top: minimize;
  transition-duration: 0.2s;
}

.popcardimg {
  object-fit: cover;
}

.popcardimg img {
  border-radius: 1rem 0 0 1rem;
  width: 7rem;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  flex-basis: 33%;
}

.cardtextarea {
  flex-basis: auto;
  font-size: 0.5rem;
}

.popcard {
  padding: 0.2rem;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  min-width: 15rem;
  height: 8rem;
}

.popcard:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 0 0 16px #accdff;
}

.host h3 {
  margin: 1rem;
  height: 1rem;
  padding: 1rem;
}

.poptitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 0rem 2rem 0;
}

.blue {
  color: #0065fc;
}

.grey {
  color: #bbb7b7;
}

.cardtextarea {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 0.5rem;
}
.star {
  margin-top: 4rem;
}

/*--------HOST SECTION-------*/

.hostcardarea {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  grid-auto-flow: column;
  grid-template-areas: ". . ." ". . .";
  gap: 2rem;
  margin: 1rem;
  padding: 1rem;
}
.host {
  margin: 1rem;
  flex-basis: 70%;
  border-radius: 1rem;
  background-color: #eeeeee;
}

.hostcard {
  padding: 0.2rem;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 13rem;
  flex-basis: 25%;
  transition-duration: 0.2s;
}

.whitespace {
  padding: 0 02rem;
}

.hostcardimg img {
  border-radius: 1rem 1rem 0 0;
  height: 7rem;
  object-fit: cover;
  width: 100%;
}

.hostcard:hover {
  transform: scale(1.02);
  cursor: pointer;
  box-shadow: 0 0 16px #92baf7
}

.afplus {
  padding: 3rem;
  margin: 0 0 1 0;
}


@media (max-width: 1140px){
  .hostcardarea {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
  }

}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .popular {
    margin: inherit;
    border-radius: inherit;
    order: -1;
    background-color: #eeeeee;
  }

  .host {
    margin: inherit;
    border-radius: inherit;
    background-color: inherit;
  }

  .hostcardarea {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
  }
}

/*--------ACTIVITY SECTION-------*/

.activitys {
  margin: 1rem;
}
.activarea {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  padding: 1rem;
}

.activcard1 {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 13rem;
}
.activcardimg1 img {
  border-radius: 1rem 1rem 0 0;
  height: 18rem;
  object-fit: cover;
  width: 100%;
}

.activcard2 {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 14rem;
  flex-basis: 60%;
  flex-grow: 1;
}

.activcardimg2 img {
  border-radius: 1rem 1rem 0 0;
  height: 9rem;
  object-fit: cover;
  width: 100%;
}

.activcard3 {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 10rem;
  width: 14rem;
}

.activcardimg3 img {
  border-radius: 1rem 1rem 0 0;
  height: 6rem;
  object-fit: cover;
  width: 100%;
}

.activsubdiv {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.activcard4 {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 13rem;
}
.activcardimg4 img {
  border-radius: 1rem 1rem 0 0;
  height: 18rem;
  object-fit: cover;
  width: 100%;
}

.activcard5 {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 10rem;
  min-width: 14rem;
}

.activcardimg5 img {
  border-radius: 1rem 1rem 0 0;
  height: 7.5rem;
  object-fit: cover;
  width: 100%;
}

.activcard6 {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  max-height: 10rem;
  min-width: 14rem;
}

.activcardimg6 img {
  border-radius: 1rem 1rem 0 0;
  height: 7.5rem;
  object-fit: cover;
  width: 100%;
}

.activcard:hover {
  transform: scale(1.02);
  cursor: pointer;
}

@media (max-width: 1000px) {
  .activcard1,
  .activcard2,
  .activcard3,
  .activcard4,
  .activcard5,
  .activcard6 {
    box-shadow: 0 0 16px #0000002e;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 10rem;
    min-width: 14rem;
    width: inherit;
    max-width: inherit;
  }
  .activcardimg1 img,
  .activcardimg2 img,
  .activcardimg3 img,
  .activcardimg4 img,
  .activcardimg5 img,
  .activcardimg6 img {
    border-radius: 1rem 1rem 0 0;
    height: 7.5rem;
    object-fit: cover;
    width: 100%;
  }
  .activarea {
    display: flex;
    flex-direction: column;
  }
  .footerarea {
    display: flex;
    flex-direction: column;
  }
}

/*--------FOOTER SECTION-------*/

.footerarea {
  background-color: #eeeeee;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.footercol {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
}

.footercol a {
  padding: 0.5rem;
}
