body {
  margin: 0 auto;
  font-family: "Raleway", "sans-serif";

  max-width: 1440px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*--------------HEADER----------------*/

nav {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  grid-template-areas: "logo . slide signup";
  align-items: center;
  font-size: 1rem;
}

.logo {
  grid-area: logo;
  padding-left: 1.5rem;
}

.slide {
  display: flex;
  text-align: center;
  grid-area: slide;
}

.hostbtn {
  padding: 2rem;
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.activity {
  padding: 2rem 2rem;
  border-top: transparent 3px solid;
  text-align: center;
}

.activity:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
}

.signup {
  grid-area: signup;
  font-weight: bold;
  color: #0065fc;
  padding: 2rem;
}
.searchtitle h1 {
  font-size: 1rem;
}
.searchtitle p {
  font-size: 0.75rem;
}

@media (max-width: 800px) {
  nav {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo . signup" "slide slide slide";
  }

  .signup {
    order: 1;
  }
  .slide {
    order: 2;
  }
  .activity,
  .hostbtn {
    border-top: none;
    border-bottom: 3px solid #f2f2f2;
    flex-basis: 50%;
    align-items: center;
  }
  .hostbtn {
    border-bottom-color: #0065fc;
  }
  .activity:hover {
    border-bottom-color: #0065fc;
    border-top: none;
  }
}

/*-------------SEARCHBOX-----------*/

.searcharea {
  margin: 2rem;
}

.searchboxzone {
  display: inline-flex;
  margin: 1rem 0;
}

form {
  border-top: none;
  border-bottom: none;
  display: inline-flex;
}

.mapsicon {
  padding: 0.85rem 1rem;
  background-color: #f2f2f2;
  border-radius: 1rem 0 0 1rem;
  text-align: center;
}

input {
  border-top: #f2f2f2 solid 2px;
  border-bottom: #f2f2f2 solid 2px;
  border-left: none;
  border-right: none;
  padding: 0.45rem;
}

input::placeholder {
  color: black;
  font-weight: bold;
}

button {
  padding: 0.45rem 0.9rem;
  border: none;
  background-color: #0065fc;
  font-family: "raleway";
  border-radius: 0rem 1rem 1rem 0rem;
  color: white;
  font-size: 0.8rem;
  text-align: center;
  align-items: center;
}

.searchFormSubmitinputIcon {
  display: none;
}
@media (max-width: 800px) {
  button span {
    display: none;
  }
  .searchFormSubmitinputIcon {
    display: initial;
    padding: 0 0.2rem;
  }
}

/*------------FILTERS-------------*/

/*------------FILTERS-------------*/

.filters {
  margin: 0 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.filters :hover {
  transform: scale(1.02);
  cursor: pointer;
}
.filtertitle :hover {
  background-color: rgb(131, 173, 197);
}

.filter {
  margin-bottom: 1rem;
  margin-right: 1rem;
  display: flex;
  text-align: center;
  align-items: center;
}

.filtericons {
  background-color: #deebff;
  border-radius: 100%;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  position: absolute;
}

.filtertitle {
  align-items: center;
  margin-right: 1rem;
}

.filternameeco {
  padding: 1rem 1rem 1rem 4rem;
  border-top: #f2f2f2 solid 3px;
  border-bottom: #f2f2f2 solid 3px;
  border-left: none;
  border-right: #f2f2f2 solid 3px;
  border-radius: 2rem 2rem 2rem 2rem;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: right;
}

.filternamefam {
  padding: 1rem 1rem 1rem 4rem;
  border-top: #f2f2f2 solid 3px;
  border-bottom: #f2f2f2 solid 3px;
  border-left: none;
  border-right: #f2f2f2 solid 3px;
  border-radius: 2rem 2rem 2rem 2rem;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: right;
}

.filternamerom {
  padding: 1rem 1rem 1rem 4rem;
  border-top: #f2f2f2 solid 3px;
  border-bottom: #f2f2f2 solid 3px;
  border-left: none;
  border-right: #f2f2f2 solid 3px;
  border-radius: 2rem 2rem 2rem 2rem;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: right;
}

.filternameani {
  padding: 1rem 1rem 1rem 4rem;
  border-top: #f2f2f2 solid 3px;
  border-bottom: #f2f2f2 solid 3px;
  border-left: none;
  border-right: #f2f2f2 solid 3px;
  border-radius: 2rem 2rem 2rem 2rem;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: bold;
  text-align: right;
  width: max-content;
}

.result {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  border-color: #f2f2f2 8px solid;
  margin: 1rem;
}

.infologo {
  margin-right: 0.5rem;
  padding: 0.3rem;
  color: #0065fc;
  border: 2px solid #f2f2f2;
  justify-content: center;
  text-align: center;
  border-radius: 100%;
  font-size: 0.5rem;
  width: 0.5rem;
  height: 00.5rem;
}

@media (max-width: 800px) {
  .filtertitle {
    flex-basis: 100%;
  }
}

/*-------------------MAIN SECTION--------------------*/

.main {
  display: flex;
}

/*--------POPULAR SECTION-------*/

.popular {
  margin: 1rem;
 
  order: 1;
  flex-basis: 30%;
  border-radius: 1rem;
  background-color: #f2f2f2;
  
}

.popcardarea {
  padding: 0rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.popcard {
  padding: 0.3rem;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  height: 20rem;
  min-width: 15rem;
  margin-top:  minimize;
  
}

.popcardimg {
  object-fit: cover;
  
}

.popcardimg img {
  border-radius: 1rem 0 0 1rem;
  width: 7rem;
  object-fit: cover;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  flex-basis: 33%;
  
}

.cardtextarea {
  flex-basis: auto;
  font-size: 0.5rem;
}

.popcard {
  padding: 0.2rem;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  min-width: 15rem;
  height: 8rem;
  box-sizing: border-box;
}

.popcard:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.host h3 {
  margin: 1rem;
  height:1rem;
  padding: 1rem;
}


.poptitle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  
  padding: 1rem 0rem 2rem 0;
}

.blue {
  color: #0065fc;
}

.grey {
  color: #bbb7b7;
}

.cardtextarea {
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  justify-content: space-between;
  padding: 0.5rem;
}
.star {
  margin-top: 4rem;
}

/*--------HOST SECTION-------*/

.hostcardarea {
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
  grid-auto-flow: column;
  grid-template-areas: ". . ." ". . .";
  gap: 2rem;
  margin: 1rem;
  padding: 1rem;
}
.host {
  margin: 1rem;
  flex-basis: 70%;
  border-radius: 1rem;
  background-color: #f2f2f2;
}

.hostcard {
  padding: 0.2rem;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 13rem;
  flex-basis: 25%;
  
}

.whitespace {
  padding: 0 02rem;
}

.hostcardimg {
}

.hostcardimg img {
  border-radius: 1rem 1rem 0 0;
  height: 7rem;
  object-fit: cover;
  width: 100%;
}

.hostcard:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.afplus {
  padding: 3rem;
  margin: 0 0 1 0;
}

@media (max-width: 800px) {
  .main {
    flex-direction: column;
  }

  .popular {
    margin: inherit;
    border-radius: inherit;
    order: -1;
    background-color: #f2f2f2;
  }

  .host {
    margin: inherit;
    border-radius: inherit;
    background-color: inherit;
  }

  .hostcardarea {
    display: flex;
    flex-direction: column;
    flex-wrap: inherit;
  }
}
